 *{
    margin: 0px;
    padding: 0px;
}

#container{
    height: 100vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 7fr;
    background-color: aliceblue;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    margin: 10px; 
    padding: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

form>input,form>button,.option{
    padding: 5px;
    box-shadow: 5px 5px 5px rgb(235, 228, 228);
    border: none;
    border-radius: 5px;
    margin: 5px;
    outline: none;
}
input:focus{
    outline:1px solid green;
}
#table{
    margin: 15px; 
    margin-left: 20px;
}

table,td,th{
    padding: 10px;
    border: 1px solid rgb(236, 233, 248);
    border-collapse: collapse;
    color: rgb(39, 38, 38);
}
td,th{
    width: 200px;
}
tr:hover {background-color: #D6EEEE;}
button{
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin: 2px;
    color: white;
}
#addEmpBtn{
    color:black;
    padding: 7px;
}